

.nav-link {
	font-weight: bold;
	/*font-size: 1.2em;*/
}

.nav .active {
	color: black;
}

label {
	font-weight: bold;
	font-size: 0.8em;
}

.actions {
	width: 30%;
}

.action-contextual-menu {
	background-color: black;
}

.event {
	
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	margin: 2px;
	padding: 2px;
	*/
	margin-bottom: 3px;
	font-size: 0.8rem;
}

.event-day-number {
	font-weight: bold;
}
.event-activity {
	background-color: #ffd9b3;
}

.event-lesson-edition {
	background-color: #c2f0c2;
}

.event-course-session {
	background-color: violet;
}

.event-day-link, .event-day-link:hover {
	font-size: 1.4rem;
	color: #fff;
}

.calendar {
	border: 2px solid #dee2e6;
}

.calendar td {
	border: 2px solid #dee2e6;
	width: 14.28%;
	margin: 2px;
	padding: 2px;
}

.activity-draft {
	background-color: orange;
	color: #fff;	
}

.activity-scheduled {
	background-color: green;
	color: #fff;	
}

.activity-completed {
	background-color: blue;
	color: #fff;	
}

.lesson-edition-draft {
	background-color: orange;
	color: #fff;
}

.lesson-edition-booked {
	background-color: green;
	color: #fff;
}

.lesson-edition-trainer-assigned {
	background-color: brown;
	color: #fff;
}

.lesson-edition-completed {
	background-color: blue;
	color: #fff;
}

.lesson-edition-cancelled-athlete {
	background-color: red;
	color: #fff;
}

.lesson-edition-cancelled-staff {
	background-color: red;
	color: #fff;
}

.lesson-edition-cancelled-revoked {
	background-color: orange;
	color: #fff;
}

.purchased-lesson-editions-bundle-purchased {
	background-color: green;
	color: #fff;
}

.purchased-lesson-editions-bundle-activated {
	background-color: blue;
	color: #fff;
}

.purchased-lesson-editions-bundle-expired {
	background-color: red;
	color: #fff;
}

.purchased-lesson-editions-bundle-exhausted {
	background-color: gray;
	color: #fff;
}

.course-session-scheduled {
	background-color: brown;
	color: #fff;
}

.course-session-completed {
	background-color: blue;
	color: #fff;
}

.course-session-cancelled {
	background-color: black;
	color: #fff;
}

.course-draft {
	background-color: orange;
	color: #fff;
}

.course-scheduled {
	background-color: brown;
	color: #fff;
}

.course-active {
	background-color: teal;
	color: #fff;
}

.course-completed {
	background-color: blue;
	color: #fff;
}

.course-cancelled {
	background-color: black;
	color: #fff;	
}


.navbar-nav .active {
	background-color: #007bff;
}

